h1 {
  margin: 15px;
}

.info {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-rows: row;
  margin: 10px;

  & > .info__label {
    grid-column: [labels];
    margin: 5px;
  }

  & > .info__value {
    grid-column: [controls];
    margin: 5px;
  }
}

.posts {
  grid-column: 1 / 4;
  padding: 10px;
}

.posts__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.posts__header--left {
  grid-column: 1 / 2;
  text-align: start;
}

.posts__header--center {
  grid-column: 2 / 3;
  text-align: center;
}

.posts__header--right {
  grid-column: 3 / 4;
}

.posts__content {
  padding: 10px;
  border-bottom: 1px solid #c8c8c8;

  h5 {
    margin: 5px;
  }

  p {
    margin: 5px;
  }
}
