<form [formGroup]="commentForm" (ngSubmit)="submit()">
  <p-dialog header="Add comment" [(visible)]="visible" [modal]="true" [responsive]="true" (onHide)="changeVisible()" [contentStyle]="{'max-height':'500px'}">
    <div class="post">
      <h5>{{ post.title }}</h5>
      <p class="post__body">{{ post.body }}</p>
      <p class="post__author">Created by {{ getCreator(post) }}</p>
    </div>

    <div class="form">
      <label class="form__label" for="name">Name</label>
      <input class="form__input" id="name" type="text" pInputText required formControlName="name"/>
      <app-error-message class="form__error" [control]="f.name"></app-error-message>

      <label class="form__label" for="email">Email</label>
      <input class="form__input" id="email" type="text" pInputText required formControlName="email"/>
      <app-error-message class="form__error" [control]="f.email"></app-error-message>

      <label class="form__label" for="body">Body</label>
      <textarea class="form__textarea" id="body" pInputTextarea autoResize="true" required formControlName="body" [autoResize]="true"></textarea>
      <app-error-message class="form__error" [control]="f.body"></app-error-message>
    </div>

    <p-footer>
      <button type="submit" pButton icon="pi pi-check" label="Add" [disabled]="commentForm.invalid"></button>
      <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="changeVisible()"></button>
    </p-footer>
  </p-dialog>
</form>
